body
{
	font-family:"Adobe Garamond Pro Bold", Georgia, "Times New Roman", Times, serif;
	font-size: 12px;
	background-image: url(../img/pageBackground.jpg);
	background-size: cover;
	background-attachment: fixed;
	margin-top: 0px;
}

article
{
	position: relative;
	width: 100%;
	height: auto;
	box-sizing: border-box;
	padding: 40px 3%;
	background-color: rgb(139,	0,	0, 0.9);
	border-bottom: 2px solid #00009c;
}

article ul
{
    list-style-type: none;]
	padding-left: 40px;
	padding-right: 50px;
	font-family: BebasNeue, Arial, sans-serif;
	text-align: justify;
	font-size: 17px;
	font-weight: bold;
	line-height: 1.5;
	text-indent: 30px;
}

article p
{
	font-family: BebasNeue, Arial, sans-serif;
	text-align: justify;
	font-size: 17px;
	font-weight: bold;
	line-height: 1.5;
}

header
{
	display: block;
	box-sizing: border-box;
	width: 100%;
	height: 55px;
	top: 0;
	z-index: 999;
	background-color: #F2F2F2;
	border-bottom-width: 2px;
	border-bottom-style: solid;
	border-color: #00009c;
}

nav
{
	max-width: 100%;
	left: 0;
	right: 0;
	margin: auto;
}

nav > ul
{
	text-align: center;
	display: table;
	margin: 0 auto;
}

#photo
{
	width: 80%;
	height: 400px;
	text-align: center;
	border-bottom-width: 2px;
	border-bottom-style: solid;
	border-top-style: solid;
	border-top-width: 2px;
	border-color: #00009c;
	margin: 30px 10%;
}

.menu
{
	text-align: center;
	position: relative;
	width: 150px;
	max-width: 25%;
	margin-top: 10px;
	display: block;
	float: left;
	border-left-width: 2px;
	border-left-style: solid;
	border-color: #00009c;
}

.lastmenu
{
	text-align: center;
	position: relative;
	width: 150px;
	max-width: 25%;
	margin-top: 10px;
	display: block;
	float: left;
	border-left-width: 2px;
	border-left-style: solid;
	border-right-width: 2px;
	border-right-style: solid;
	border-color: #00009c;
}

.menuTitle
{
	display: block;
	text-align: center;
	position: relative;
	width: 100%;
	font-size: 20px;
	line-height: 36px;
	text-decoration: none;
	font-weight: Bolder;
	color: #1F384D;
	text-transform: uppercase;
	font-family:BebasNeue, Arial, sans-serif;
}

.menuTitle:hover
{
	color: #00009c;
	font-size: 19px;
	cursor: pointer;
}

footer
{
	position: relative;
	height: 100px;

	padding: 20px 3%;

	box-sizing: border-box;
}

.page-title
{
	font: bold 45px BebasNeue, Arial, sans-serif;
	color: #00009c;
	text-align: center;
	margin-bottom: 30px;
	margin-top: -10px;
	text-transform: uppercase;
}

#page
{
	width: 80%;
	min-height: 100%;
    height: auto;
	margin: auto;
}

#slideshow
{
	position: relative;
	height: 600px;
	width: 100%;
	border-bottom: 2px solid #00009c;
	border-style-bottom: solid;
}

#image
{
	position: absolute;
	height: 100%;
	width: 100%;
	text-align: center;
}